@model IEnumerable<address.Models.Houses>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HouseNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Index)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Floors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entrances)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StreetId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HouseNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Index)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Floors)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Entrances)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreetId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HouseId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.HouseId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.HouseId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
