@model address.Models.Streets

@{
    ViewData["Title"] = "Добавление улицы";
}

<h4>Добавление элемента планировочной структуры</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="StrCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StreetName" class="control-label"></label>
                <input asp-for="StreetName" class="form-control" />
                <span asp-validation-for="StreetName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Регион</label>
                <!--<input asp-for="RegionId" class="form-control" />-->
                @Html.DropDownList("RegionId", ViewBag.Regions as SelectList, new { id = "region" })
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"></label>
                <!--<input asp-for="RegionId" class="form-control" />-->
                @Html.DropDownList("AreaId", ViewBag.Areas as SelectList, new { id = "area" })
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"></label>
                <!--<input asp-for="RegionId" class="form-control" />-->
                @Html.DropDownList("LocalityId", ViewBag.Localities as SelectList, new { id = "locality" })
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DistrictId" class="control-label"></label>
                @Html.DropDownList("DistrictId", ViewBag.Districts as SelectList, new { id = "district" })
                <span asp-validation-for="DistrictId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="StrIndex">Вернуться к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript">
    $(document).ready(function () {
        $('#region').change();
    });
    $('#region').change(function()
        {
            // получаем выбранный id
            var id = $(this).val();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetAreas","Addresses")/' + id,
                success: function (data) {

                    // заменяем содержимое присланным частичным представлением
                    document.getElementById('area').innerHTML = data;
                    $('#area').change();
                }
            });
        });
        $('#area').change(function()
        {
            // получаем выбранный id
            var id = $(this).val();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetLocalities", "Addresses")/' + id,
                success: function (data) {

                    // заменяем содержимое присланным частичным представлением
                    document.getElementById('locality').innerHTML = data;
                    $('#locality').change();
                }
            });
        });
        $('#locality').change(function()
        {
            // получаем выбранный id
            var id = $(this).val();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetDistricts", "Addresses")/' + id,
                success: function (data) {

                    // заменяем содержимое присланным частичным представлением
                    document.getElementById('district').innerHTML = data;
                }
            });
        });
</script>
}