@model IEnumerable<address.Models.Users>

@{
    ViewData["Title"] = "Пользователи";
}

<h1>Пользователи</h1>

<p>
    <a asp-action="Create">Добавить нового пользователя</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Имя пользователя
            </th>
            <th>
                Группа пользователя
            </th>
            <th>
                Дата регистрации
            </th>
            <th>
                Почтовый адрес
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @(item.Group == 0 ? "Пользователь" : item.Group == 1 ? "Администратор" : "Владелец")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактирование</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Детали</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
