@model IEnumerable<address.Models.Users>

@{
    //ViewData["Title"] = "Список смартфонов";
    //Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>Пользователи</title>
</head>
<body>
    <h3>Пользователи сервиса</h3>
    <table align="center">
        <tr align="center">
            <td>ID</td>
            <td>Имя пользователя</td>
            <td>Группа пользователя</td>
            <td>Дата регистрации</td>
            <td>Почта</td>
            <td></td>
        </tr>
        @foreach (var user in Model)
        {
    <tr align="center">
        <td>@user.Id</td>
        <td>@user.Name</td>
        <td>@(user.Group == 0 ? "Пользователь" : user.Group == 1 ? "Администратор" : "Владелец")</td>
        <td>@user.RegistrationDate.Date.ToString("dd.MM.yyyy")</td>
        <td>@user.Email</td>
        <td><a href="~/Home/Edit/@user.Id">Редактировать</a></td>
    </tr>
        }
    </table>
</body>
</html>