@{
    ViewBag.Title = "Home Page";
}

<h5>
    Выберите регион <div id="RegAdd" style="display:inline-block;color:green;"><h6><a asp-controller="Operation" asp-action="RegCreate">[Добавить регион]</a></h6></div>
</h5>
    @Html.DropDownList("Regions", ViewBag.Regions as SelectList, new { id = "region" })<div id="RegActions" style="display:none;margin-left: 20px;"><h6><a id="RegEdit" asp-controller="Operation" asp-action="RegEdit"><font color="orange">Редактировать</font></a> | <a id="RegDetails" asp-controller="Operation" asp-action="RegDetails"><font color="blue">Детали</font></a> | <a id="RegDelete" asp-controller="Operation" asp-action="RegDelete"><font color="red">Удалить</font></a></h6></div>
<h5>
    Выберите район <div id="AreaAdd" style="display:none;color:green;"><h6><a asp-controller="Operation" asp-action="AreaCreate">[Добавить район]</a></h6></div>
</h5>
    @Html.DropDownList("Areas", ViewBag.Areas as SelectList, new { id = "area" })<div id="AreaActions" style="display:none;margin-left: 20px;"><h6><a id="AreaEdit" asp-controller="Operation" asp-action="AreaEdit"><font color="orange">Редактировать</font></a> | <a id="AreaDetails" asp-controller="Operation" asp-action="AreaDetails"><font color="blue">Детали</font></a> | <a id="AreaDelete" asp-controller="Operation" asp-action="AreaDelete"><font color="red">Удалить</font></a></h6></div>
<h5>
    Выберите населенный пункт <div id="LocAdd" style="display:none;color:green;"><h6><a asp-controller="Operation" asp-action="LocCreate">[Добавить населенный пункт]</a></h6></div>
</h5>
    @Html.DropDownList("Localities", ViewBag.Localities as SelectList, new { id = "locality" })<div id="LocActions" style="display:none;margin-left: 20px;"><h6><a id="LocEdit" asp-controller="Operation" asp-action="LocEdit"><font color="orange">Редактировать</font></a> | <a id="LocDetails" asp-controller="Operation" asp-action="LocDetails"><font color="blue">Детали</font></a> | <a id="LocDelete" asp-controller="Operation" asp-action="LocDelete"><font color="red">Удалить</font></a></h6></div>
<h5>
    Выберите ЭПС <div id="DistAdd" style="display:none;color:green;"><h6><a asp-controller="Operation" asp-action="DisCreate">[Добавить ЭПС]</a></h6></div>
</h5>
    @Html.DropDownList("Districts", ViewBag.Districts as SelectList, new { id = "district" })<div id="DistActions" style="display:none;margin-left: 20px;"><h6><a id="DisEdit" asp-controller="Operation" asp-action="DisEdit"><font color="orange">Редактировать</font></a> | <a id="DisDetails" asp-controller="Operation" asp-action="DisDetails"><font color="blue">Детали</font></a> | <a id="DisDelete" asp-controller="Operation" asp-action="DisDelete"><font color="red">Удалить</font></a></h6></div>
<h5>
    Выберите улицу <div id="StreetAdd" style="display:none;color:green;"><h6><a asp-controller="Operation" asp-action="StrCreate">[Добавить улицу]</a></h6></div>
</h5>
    @Html.DropDownList("Streets", ViewBag.Streets as SelectList, new { id = "street" })<div id="StreetActions" style="display:none;margin-left: 20px;"><h6><a id="StrEdit" asp-controller="Operation" asp-action="StrEdit"><font color="orange">Редактировать</font></a> | <a id="StrDetails" asp-controller="Operation" asp-action="StrDetails"><font color="blue">Детали</font></a> | <a id="StrDelete" asp-controller="Operation" asp-action="StrDelete"><font color="red">Удалить</font></a></h6></div>
<h5>
    Выберите дом <div id="HouseAdd" style="display:none;color:green;"><h6><a asp-controller="Operation" asp-action="HouseCreate">[Добавить дом]</a></h6></div>
</h5>
    @Html.DropDownList("Houses", ViewBag.Houses as SelectList, new { id = "house" })<div id="HouseActions" style="display:none;margin-left: 20px;"><h6><a id="HouseEdit" asp-controller="Operation" asp-action="HouseEdit"><font color="orange">Редактировать</font></a> | <a id="HouseDetails" asp-controller="Operation" asp-action="HouseDetails"><font color="blue">Детали</font></a> | <a id="HouseDelete" asp-controller="Operation" asp-action="HouseDelete"><font color="red">Удалить</font></a></h6></div>

@section scripts{
    <script type="text/javascript">
    $(document).ready(function () {
            // получаем выбранный id
            var id = $('#region').val();
            document.getElementById('RegActions').style.display = id != null ? 'inline-block' : 'none';
            document.getElementById('RegAdd').style.display = id != null ? 'inline-block' : 'none';
            document.getElementById('RegEdit').setAttribute('href', 'Operation/RegEdit/' + id);
            document.getElementById('RegDetails').setAttribute('href', 'Operation/RegDetails/' + id);
            document.getElementById('RegDelete').setAttribute('href', 'Operation/RegDelete/' + id);
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetAreas")/' + id,
                success: function (data) {

                    // заменяем содержимое присланным частичным представлением
                    document.getElementById('area').innerHTML = data;
                    $('#area').change();
                }
            });
    });
    $(function () {

        $('#region').change(function()
        {
            // получаем выбранный id
            var id = $(this).val();
            document.getElementById('RegActions').style.display = id != null ? 'inline-block' : 'none';
            document.getElementById('RegAdd').style.display = id != null ? 'inline-block' : 'none';
            document.getElementById('RegEdit').setAttribute('href', 'Operation/RegEdit/' + id);
            document.getElementById('RegDetails').setAttribute('href', 'Operation/RegDetails/' + id);
            document.getElementById('RegDelete').setAttribute('href', 'Operation/RegDelete/' + id);
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetAreas")/' + id,
                success: function (data) {

                    // заменяем содержимое присланным частичным представлением
                    document.getElementById('area').innerHTML = data;
                    $('#area').change();
                }
            });
        });
        $('#area').change(function()
        {
            // получаем выбранный id
            var id = $(this).val();
            document.getElementById('AreaActions').style.display = id != null ? 'inline-block' : 'none';
            document.getElementById('AreaAdd').style.display = id != null ? 'inline-block' : 'none';
            document.getElementById('AreaEdit').setAttribute('href', 'Operation/AreaEdit/' + id);
            document.getElementById('AreaDetails').setAttribute('href', 'Operation/AreaDetails/' + id);
            document.getElementById('AreaDelete').setAttribute('href', 'Operation/AreaDelete/' + id);
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetLocalities")/' + id,
                success: function (data) {

                    // заменяем содержимое присланным частичным представлением
                    document.getElementById('locality').innerHTML = data;
                    $('#locality').change();
                }
            });
        });
        $('#locality').change(function()
        {
            // получаем выбранный id
            var id = $(this).val();
            document.getElementById('LocActions').style.display = id != null ? 'inline-block' : 'none';
            document.getElementById('LocAdd').style.display = id != null ? 'inline-block' : 'none';
            document.getElementById('LocEdit').setAttribute('href', 'Operation/LocEdit/' + id);
            document.getElementById('LocDetails').setAttribute('href', 'Operation/LocDetails/' + id);
            document.getElementById('LocDelete').setAttribute('href', 'Operation/LocDelete/' + id);
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetDistricts")/' + id,
                success: function (data) {

                    // заменяем содержимое присланным частичным представлением
                    document.getElementById('district').innerHTML = data;
                    $('#district').change();
                }
            });
        });
        $('#district').change(function()
        {
            // получаем выбранный id
            var id = $(this).val();
            document.getElementById('DistActions').style.display = id != null ? 'inline-block' : 'none';
            document.getElementById('DistAdd').style.display = id != null ? 'inline-block' : 'none';
            document.getElementById('DisEdit').setAttribute('href', 'Operation/DisEdit/' + id);
            document.getElementById('DisDetails').setAttribute('href', 'Operation/DisDetails/' + id);
            document.getElementById('DisDelete').setAttribute('href', 'Operation/DisDelete/' + id);
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetStreets")/' + id,
                success: function (data) {

                    // заменяем содержимое присланным частичным представлением
                    document.getElementById('street').innerHTML = data;
                    $('#street').change();
                }
            });
        });
        $('#street').change(function()
        {
            // получаем выбранный id
            var id = $(this).val();
            document.getElementById('StreetActions').style.display = id != null ? 'inline-block' : 'none';
            document.getElementById('StreetAdd').style.display = id != null ? 'inline-block' : 'none';
            document.getElementById('StrEdit').setAttribute('href', 'Operation/StrEdit/' + id);
            document.getElementById('StrDetails').setAttribute('href', 'Operation/StrDetails/' + id);
            document.getElementById('StrDelete').setAttribute('href', 'Operation/StrDelete/' + id);
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetHouses")/' + id,
                success: function (data) {

                    // заменяем содержимое присланным частичным представлением
                    document.getElementById('house').innerHTML = data;
                    if ($('house').val() != null) {
                        document.getElementById('HouseEdit').style.display = document.getElementById('house').innerText != '' ? 'inline-block' : 'none';
                        document.getElementById('HouseEdit').setAttribute('href', 'Operation/HouseEdit/' + id);
                        document.getElementById('HouseDetails').setAttribute('href', 'Operation/HouseDetails/' + id);
                        document.getElementById('HouseDelete').setAttribute('href', 'Operation/HouseDelete/' + id);
                    }
                }
            });
        });
    })
    </script>
}